* {
    margin: 0;
}

ul {
    list-style: none;
}

a, Link, i {
    text-decoration: none;
    color: #fff; 
}



#nav-bar {
    background: #038aff;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100px;

    .space{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-container {
        float: right;
        
        button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
          }

          input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
          }
    
      }

    

    .flex{
        display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
    }
    

    .container{

        display: grid;
        gap: 1.5rem;


        
  
                }
        }
        

        @media screen and (max-width: 600px) {
            .search-container {
              float: none;

              a, input[type=text], button {
                float: none;
                display: block;
                text-align: left;
                width: 100%;
                margin: 0;
                padding: 14px;
              }
              input[type=text] {
                border: 1px solid #ccc;  
              }




            }
            
          }
          